<div class="toolbar"
     role="banner"
     style="border-top: 2px solid lightgrey; width: 80%; margin: 0 auto; background-color: lightgrey;">
  <h1>Welcome to Angular</h1>
</div>

<div style="width: 80%; margin: 0 auto;">
    <h6>Here I will put examples of me learning Angular.</h6>
    <h6>Each section will be divided and will include an example.</h6>
</div>

<!-- Directives Example-->
<div style="border-top: 2px solid lightgrey; width: 80%; margin: 0 auto;">
  <div style="width: 80%; margin: 0 auto;">
    <movies></movies>
  </div>
</div>
<!-- Bootstrap Example-->
<div style="border-top: 2px solid lightgrey; width: 80%; margin: 0 auto;">
  <div style="width: 30%; margin: 0 auto;">
    <bootstrap-example></bootstrap-example>
  </div>
</div>

<!-- Two Way Binding Example-->
<div style="border-top: 2px solid lightgrey; width: 80%; margin: 0 auto;">
  <div style="width: 30%; margin: 0 auto;">
    <two-way-binding></two-way-binding>
  </div>
</div>

<!-- Pipe Example-->
<div style="border-top: 2px solid lightgrey; width: 80%; margin: 0 auto;">
  <div style="width: 30%; margin: 0 auto;">
    <pipe-example></pipe-example>
  </div>
</div>

<!-- Custom Pipe Example-->
<div style="border-top: 2px solid lightgrey; width: 80%; margin: 0 auto;">
  <div style="width: 30%; margin: 0 auto;">
    <custom-pipe-example></custom-pipe-example>
  </div>
</div>

<div>
  <movie></movie>
</div>


<router-outlet></router-outlet>