<h2>{{ getTitle() }}</h2>
<ul>
    <!-- Directives start with *-->
    <li *ngFor="let movie of movies">
        {{ movie }}
    </li>
</ul>

<button (click) = "onBootstrapButtonClick($event)" class="btn btn-primary" [class.active] = "isActive">
    <h3>Bootstrap button</h3>
</button>

<button [style.backgroundColor] = "isActive ? 'blue' : 'white'">
    <h3>Style Binding</h3>
</button>

<h2>Two Way Binding Example</h2>
<input [(ngModel)]="email" (keyup.enter)="onKeyUp()"/>

<h2>Pipe Example</h2>
<h4>{{ detailedMovie.title | uppercase }}</h4>
<h6>Year: {{ detailedMovie.year}}</h6>
<h6>Iron Man actor: {{ detailedMovie.mainActor }}</h6>
<h6>Release Date: {{ detailedMovie.releaseDate | date: "mediumDate" }}</h6>
<h6>Rating: {{ detailedMovie.rating | number }}</h6>
<h6>Price: {{ detailedMovie.price | currency: "BGN":true:'3.2-2' }}</h6>


<h2>Custom Pipe Example</h2>
<h3>{{ longText | summary: 10}}</h3>