

<div style="display: flex; flex-direction: column; align-items: center; margin: 20px;">
    <h2>Directives Example</h2>
    <h4>{{ getTitle() }}</h4>
    <ul>
        <!-- Directives start with *-->
        <li *ngFor="let movie of movies">
            {{ movie }}
        </li>
    </ul>
    <div style="width: 30%;">
        <h6 style="text-align: center;">
            Here we are using directives for the first time to itterate over an array of movies and for each movie
            add a list item with it's name. Currently we are using simple array of string but this would be the same
            if we used array of objects.
        </h6>
        <h6 style="text-align: center;">
            The directive we use for doing it is <span style="font-weight: bold;">"*ngFor"</span> which makes the itterations over the array.
        </h6>
    </div>
</div>